body {
    font-family: "Muli", sans-serif;
    background-image: url("https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-size: cover;
}

#loginBtn {
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 20px;
    font-family: "Muli", sans-serif;
    margin-left: 17vw;
    background-color: black
}

#form1 {
    width: 40vw;
    margin: auto;
    margin-top: 30vh;
    border-radius: 10px;
    padding: 2%;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

table {
    margin: auto;
}

.textbox {
    font-family: "Muli", sans-serif;
    width: 30vw;
    height: 25px;
    border-radius: 7px;
    border: 1px solid grey;
    background-color: rgb(255, 255, 255);
}
