body{
    font-family: "Muli", sans-serif;
    background-image: url("https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-size: cover;
}
.form{
    width: 55vw;
    margin: auto;
    border-radius: 10px;
    padding: 2%;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
#registrationFormHeading{
    font-family: "Space Mono", monospace;
    font-size: 25px;
    font-weight: 800;
    margin: auto;
    width: 50vw;
    height: 13vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}
#profimage{
    width: 7vw;
    height: 12vh;
    border-radius: 50%;
}
input[type=text],[type=email], [type=date]{
    font-family: "Muli", sans-serif;
    width: 20vw;
    height: 25px;
    border-radius: 7px;
    border: 1px solid grey;
    background-color: rgb(255, 255, 255);
}
#mobile{
    font-family: "Muli", sans-serif;
    width: 26vw;
    height: 25px;
}
#statePresent,#countryPresent,#statePermanent,#countryPermanent{
    font-family: "Muli", sans-serif;
    width: 20.4vw;
    height: 28px;
    border-radius: 7px;
    border: 1px solid grey;
    background-color: rgb(255, 255, 255);
}
legend{
    font-size: 20px;
}
.fieldset{
    width: 70%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
.divForUsingGridForTwoColumns{
    width: 50vw;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    row-gap: 10px;
}
#subs{
    margin-left: 1.2vw;
}
.eachDivInGrid{
    width: 23vw;
}
input[type=submit]{
    width: 10vw;
    border-radius: 5px;
    border:0.5px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    height: 5vh;
    font-family: "Muli", sans-serif;
    color: rgb(241, 241, 241);
    font-size: 2.5vh;
    margin: auto;
}
#submit{
    width: 10vw;
    margin: auto;
    margin-top: 20px;

}
#checkboxaddr{
    font-size: 12px;
    color: brown;
}
#otherhobby,#otherlang,#msg{
    display: none;
}
span{
    color:brown;
}
input[type=file]{
    font-family: "Muli",sans-serif;
}
input[type="file"]::file-selector-button{
    font-family: "Muli",sans-serif;
    color: rgb(58, 57, 57);
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
    height: 4vh;
    border-radius: 5px;
}
#mobcode{
    font-family: "Muli", sans-serif;
    height: 25px;
    border-radius: 7px;
    border: 1px solid grey;
    background-color: rgb(255, 255, 255);
    width: 4vw;
}
input[type=tel]{
    font-family: "Muli", sans-serif;
    width:15.4vw;
    height: 25px;
    border-radius: 7px;
    border: 1px solid grey;
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width:630px){
    .form{
        width: 80vw;
        margin: auto;
        font-size: 15px ;
        border-radius: 10px;
        padding: 2%;
        background: rgba( 255, 255, 255, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 8px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    #registrationFormHeading{
        font-family: "Space Mono", monospace;
        font-size: 25px;
        font-weight: 800;
        margin: auto;
        width: 68vw;
        height: 9vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 10px;
    }
    #profimage{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    #mobcode{
        font-family: "Muli", sans-serif;
        height: 25px;
        border-radius: 7px;
        border: 1px solid grey;
        background-color: rgb(255, 255, 255);
        width: 15%;
    }
    .divForUsingGridForTwoColumns{
        width: 68vw;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns:repeat(1,1fr) ;
        row-gap: 10px;
    }
    legend{
        font-size: 15px ;
    }
    input[type=text],[type=email], [type=date]{
        width: 95%;
        height: 25px;
        border-radius: 7px;
        border: 1px solid grey;
        background-color: rgb(255, 255, 255);
    }
    #mobile{
        font-family: "Muli", sans-serif;
        width: 95%;
    }
    input[type=tel]{
        width: 79%;
    }
    #statePresent,#countryPresent,#statePermanent,#countryPermanent{
        width: 95%;
        height: 28px;
        border-radius: 7px;
        border: 1px solid grey;
        background-color: rgb(255, 255, 255);
    }
    input[type=submit]{
        width: 20vw;
        border-radius: 5px;
        border:0.5px solid rgb(0, 0, 0);
        background-color: rgb(0, 0, 0);
        height: 5vh;
        font-family: "Muli", sans-serif;
        color: rgb(241, 241, 241);
        font-size: 2.5vh;
        margin: auto;
    }
    #submit{
        width: 20vw;
        margin: auto;
        margin-top: 20px;
    
    }
    .eachDivInGrid{
        width: 95%;
    }
}